{% extends 'commons/base.html' %}
{% from 'commons/macro.html' import pagination_show %}

{% block title %}主页{% endblock %}

{% block page_content %}
    {{ wtf.quick_form(form) }}
    {% for post in posts %}
        <div class="media">
            <div class="media-left">
                <a href="#">
                    <img class="media-object" style="width: 64px; height: 64px; border-radius: 50%" src="{{ url_for('static', filename='uploads/' + post.user.icon) }}" alt="...">
                </a>
            </div>
            <div class="media-body">
                <div style="float: right">{{ moment(post.timestamp).fromNow() }}</div>
                <h4 class="media-heading">{{ post.user.username }}</h4>
                {{ post.content }}
                {% if current_user.is_authenticated %}
                    <div class="collect" style="cursor: pointer" url="{{ url_for('posts.collect', pid=post.id) }}">
                        {% if current_user.is_favorite(post.id) %}
                            取消收藏
                        {% else %}
                            收藏
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        </div>
    {% endfor %}

    {{ pagination_show(pagination,'main.index') }}
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript">
        $(function () {
            $('.collect').click(function () {
                _this = this;
                $.get($(this).attr('url'), function(){
                    if($(_this).text() == '收藏'){
                        $(_this).text('取消收藏')
                    }else {
                        $(_this).text('收藏')
                    }
                });
            });
        });
    </script>
{% endblock %}