{% extends 'commons/base.html' %}
{% from 'commons/macro.html' import pagination_show %}
{% block title %}个人中心 - {% if current_user.username == user.username %}我{% else %}Ta{% endif %}的喜欢{% endblock %}
{% block styles %}
    {{ super() }}
    <style>
        .left_cont{width: 199px;height:280px;float: left; border: 1px solid rgba(0, 0, 0, .06); padding: 5px; box-shadow: 0 1px 10px 2px rgba(0, 0, 0, .06); border-radius: 5px}
        .right_cont{width: 900px;margin: 0 20px; margin-bottom: 30px; display: inline-block}
        h3 {font-size: 20px;color: #3d3d3d;height: 90px;line-height: 90px;border-bottom: 1px solid #e0e0e0;margin: 0;}
        .user_info{float:left;margin-right: 16px;width: 900px;}
        .header{width: 100px;border-radius: 50%;float: left;margin: 5px 10px;}
        .right_c{display: inline-block }
        .display_name {font-size: 20px;font-weight: bold;color: #999;margin: 15px 0 5px;display:inline-block;}
        .log_time{font-size: 16px;margin: 10px 0 5px;}
        li, ul {padding: 0;margin: 0;list-style: none; border-radius: 5px}
        a:hover{text-decoration:none;}
        .side1 a,.side2 a,.side3 a,.side4 a{font-size: 14px; color: black;display: inline-block;height: 35px;line-height: 35px;width: 100%; padding-left: 20px}
        .side4 {background-color: #229EE6;}
        .side4 a{color: white;}
        .book{width: 100%; display: inline-block}
        .book h1 {font-size: 24px;line-height: 1.2em;}
        .book li{width: 100%; border-bottom: 1px solid #e0e0e0; margin-top: 20px}
        h1 a {color: #428bca;text-decoration: none;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden;}
        p{margin:20px 0 20px 0;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 3;overflow: hidden;}
    </style>
{% endblock %}

{% block page_content %}
    <div class="left_cont" style="background: white" >
        <ul>
            <li class="side1"><a href="{{ url_for('user.index', username=user.username) }}" class="aside">{% if current_user.username == user.username %}我{% else %}Ta{% endif %}的资料</a></li>
            {% if current_user.username == user.username %}
                <li class="side2"><a href="{{ url_for('posts.index') }}" class="aside">撰写博客</a></li>
            {% endif %}
            <li class="side3"><a href="{{ url_for('user.my_blog', username=user.username) }}">{% if current_user.username == user.username %}我{% else %}Ta{% endif %}的博客</a></li>
            <li class="side4"><a href="{{ url_for('user.my_fav', username=user.username) }}">{% if current_user.username == user.username %}我{% else %}Ta{% endif %}的喜欢</a></li>
        </ul>
    </div>
    <div class="right_cont" style="background: white; border: 1px solid rgba(0, 0, 0, .06); padding: 0 20px; box-shadow: 0 1px 10px 2px rgba(0, 0, 0, .06); border-radius: 5px">
        <h3>{% if current_user.username == user.username %}我{% else %}Ta{% endif %}的喜欢({{ user.favorites.count() }})</h3>
        <div class="book">
            <ul class=entries>
                {% for post in posts %}
                    <li>
                        <h1>
                            <a target="_blank" href="{{ url_for('posts.post_show', id=post.id) }}"><span class="label label-success">本文链接</span></a>
                        </h1>
                        {% if current_user.is_authenticated %}
                            {% if current_user.username != post.user.username %}
                                <span class="btn btn-warning btn-sm" style="font-size: 14px; padding: 0px; position: relative; left: 95%; top: -35px">
                                    <span class="collect" url="{{ url_for('posts.collect', pid=post.id) }}">
                                        {% if current_user.is_favorite(post.id) %}
                                            取消喜欢
                                        {% else %}
                                            喜欢
                                        {% endif %}
                                    </span>
                                </span>
                            {% endif %}
                        {% endif %}<br>
                        <span>作者:{{ post.user.username }}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>发布于: {{ moment(post.timestamp).fromNow() }}</span>
                        <p style="overflow: hidden; text-overflow: ellipsis; word-break: break-all">
                            {% if post.body_html %}
                                {{ post.body_text }}
                            {% else %}
                                {{ post.content }}
                            {% endif %}
                        </p>
                    </li>
                {% endfor %}
                {{ pagination_show(pagination,'user.my_fav',user.username) }}
            </ul>
        </div>

    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript">
        $(function () {
            $('.collect').on('click', function () {
                _this = this;
                $.get($(this).attr('url'), function(){
                    if($(_this).text().trim() == '取消喜欢'){
                        $(_this).text('喜欢')
                    }else {
                        $(_this).text('取消喜欢')
                    }
                });
            });
        });
    </script>
{% endblock %}